@import '../../app/variables';

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}

.labelForInput {
  font-size: 16px;
  line-height: 24px;
}

.inputField {
  padding: 6px 0 6px 12px;
  border-radius: 4px;
  border: 1px solid $border-light;
}

.errorMessage {
  color: #dc3545;
}
