@import 'src/app/variables';


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 42px;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;

}

.divider {
  border-left: 1px solid $border-dark;
  margin: 4px 0;
}
