


$color-primary: #2b7efb;
$color-text-body: #212529;
$color-text-secondary: #6c757d;
$color-background-light: #f8f9fa;
$color-text-muted: #6c757d;

$background-primary: #007bff;
$background-secondary: #6c757d;

$border-light: #dfdfdf;

$screen-min-m: '(min-width: 840px)';
$screen-min-l: '(min-width: 1600px)';
$screen-min-xl: '(min-width: 1900px)';



