@import 'src/app/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 346px;
}

.perex {
  color: $color-text-body;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
