@import 'src/app/variables';

.container {
  display: flex;
  gap: 24px;
}

.wrapper {
  max-width: 760px;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoWrapper {
  display: flex;
  gap: 12px;
  color: $color-text-secondary;
  font-size: 12px;
  line-height: 20px;
}
