@import 'src/app/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media #{$screen-min-m} {
    gap: 24px;
  }

  @media #{$screen-min-l} {
    gap: 40px;
  }
}

.dropDownWrapper {
  display: none;

  @media #{$screen-min-m} {
    display: flex;
    align-items: flex-end;
    gap: 3px;
  }

}


.createArticleItem.createArticleItem { //For higher specificity
  color: $color-primary;
}
